[Unit]
Description=Psplash Boot screen
After=systemd-vconsole-setup.service

[Service]
ExecStart=/usr/bin/psplash -n

[Install]
WantedBy=sysinit.target
