[Unit]
Description=WPEWebkit subsystem
Wants=network-online.target
After=network-online.target

[Service]
Type=dbus
BusName=com.igalia.Cog
ExecStart=/usr/bin/cog --gapplication-service http://192.168.178.27:4200

[Install]
WantedBy=multi-user.target
