[Unit]
Description=Psplash Boot screen
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStartPre=/bin/sleep 5
ExecStart=/usr/bin/psplash-write QUIT

[Install]
WantedBy=multi-user.target
